[submodule "roles/zsh/files/.zsh/fast-syntax-highlighting"]
	path = roles/zsh/files/.zsh/fast-syntax-highlighting
	url = https://github.com/zdharma/fast-syntax-highlighting.git
[submodule "roles/zsh/files/.zsh/zsh-autosuggestions"]
	path = roles/zsh/files/.zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
