[push]
    default = simple
[user]
    name = Fabian Bull
    email = fabian.bull@bioinform.at
    signingkey = 1DE6482F
[core]
    excludesfile = /Users/fbull/.gitignore_global
    editor = nvim
	autocrlf = input
[commit]
    gpgsign = true
[color]
    ui = true
[branch]
	autosetuprebase = always
[rerere]
	enabled = true
