[push]
    default = simple
[user]
    name = Fabian Bull
    email = fabian.bull@bioinform.at
    signingkey = DFAAE0721DE6482F
[core]
    excludesfile = /home/fbull/.gitignore_global
    editor = nvim
	autocrlf = input
[commit]
    gpgsign = false
    template = ~/.gitmessage
[color]
    ui = true
[branch]
	autosetuprebase = always
[rerere]
	enabled = true
[merge]
	renamelimit = 2000
