set surround
set clipboard=unnamedplus
set showmode

let mapleader = ","

nmap <c-o> :action Back<cr>
nmap <c-i> :action Forward<cr>

nmap <leader>b :action GotoDeclaration<cr>

nmap <leader>rv :action IntroduceVariable<cr>
nmap <leader><leader> :action HideAllWindows<cr>

nmap <leader>T :action GotoFile<cr>
nmap <leader>t :action GotoClass<cr>
nmap <leader>nt :action TypeHierarchy<cr>
nmap <leader>ns :action FileStructurePopup<cr>
nmap <leader>d :action ShowErrorDescription<cr>

nnoremap <leader>z :action ChooseRunConfiguration<cr>
nnoremap <leader>h :action QuickJavaDoc<cr>

"=================================
"Easy system clipboard copy/paste
"=================================
noremap <space>y "*y
noremap <space>Y "*Y
noremap <space>p "*p
noremap <space>P "*P

" IdeaVim uses 'a' for alt instead of Vim's 'm'
nmap <a-j> 15gj
nmap <a-k> 15gk

