set surround
set clipboard=unnamedplus
set number

let mapleader = " "

nnoremap <c-a> :action GotoAction<cr>
nnoremap <leader><space> :action HideAllWindows<cr>

"=================================
" Code Navigation
"=================================
nnoremap <leader>T :action GotoFile<cr>
nnoremap <leader>t :action GotoClass<cr>
nnoremap <leader>b :action GotoDeclaration<cr>
nnoremap <leader>h :action QuickJavaDoc<cr>
nnoremap <leader>` :action Git.Branches<cr>

nnoremap <c-e> :action RecentFiles<cr>
nnoremap <c-o> :action Back<cr>
nnoremap <c-i> :action Forward<cr>

"=================================
" Code Information
"=================================
nnoremap <leader>nt :action TypeHierarchy<cr>
nnoremap <leader>ns :action FileStructurePopup<cr>
nnoremap <leader>u :action FindUsages<cr>
nnoremap <leader>d :action ShowErrorDescription<cr>

"=================================
" Refactorings
"=================================
nnoremap <leader>rv :action IntroduceVariable<cr>
nnoremap <leader>rn :action RenameElement<cr>
nnoremap <leader>rm :action RenameMethod<cr>
nnoremap <leader>g :action Generate<cr>

"=================================
" Run configurations
"=================================
nnoremap <leader>z :action ChooseRunConfiguration<cr>

"=================================
" Searching
"=================================
nnoremap / :action Find<cr>
nnoremap ? :action FindInPath<cr>

"=================================
" Easy system clipboard copy/paste
"=================================
noremap <space>y "*y
noremap <space>Y "*Y
noremap <space>p "*p
noremap <space>P "*P

" IdeaVim uses 'a' for alt instead of Vim's 'm'
noremap <a-j> 15gj
noremap <a-k> 15gk

