Xft*dpi: 96
Xft*antialias: true

rofi.separator-style: solid
rofi.sidebar-mode: true
rofi.bw: 1
rofi.columns: 1
rofi.padding: 16

rofi.yoffset: 20 
rofi.fake-transparency: false
rofi.location: 1
rofi.width: 100 
rofi.font: Hasklig 12
rofi.lines: 15
rofi.fixed-num-lines: true

